openapi: 3.0.1
info:
  title: PEC Workflow and Campaign Initiation
  description: API interaction to generate new PEC campaign, then additional Endpoint to add people
  version: 0.1.0
servers:
  - url: https://xxx.production.gov.uk/v2
    description: Production environment
  - url: https://xxx.test.gov.uk/v2
    description: Testing and sandbox environment
security:
  - OAuth2: 
      - pec:write
paths:
  /campaign:
    post:
      tags:
        - Create New PEC Campaign
      summary: Endpoint for creating new campaigns in the PEC system
      description: Parse data to create new PEC campaign for campaign candidates.
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/newCampaign'
      responses:
        '201':
          description: Successfully created the PEC workflows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseCampaign'
        '400':
          description: Payload Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaign/{campaignId}:
    parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: The unique system identifier of the campaign.
    post:
      tags:
        - Add Applicants to PEC Campaign
      summary: Endpoint for adding new Applicants to a PEC campaign
      description: Parse data to create new PEC workflows for campaign candidates.
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/newApplicants'
      responses:
        '201':
          description: Successfully created the PEC workflows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseApplicants'
        '400':
          description: Payload Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Modern OAuth2 Client Credentials flow for system-to-system authentication.
      flows:
        clientCredentials:
          tokenUrl: https://auth.production.gov.uk/oauth/token
          scopes:
            pec:write: Grants permission to submit PEC requests
  schemas:
    ErrorResponse:
      title: Error Response
      type: object
      properties:
        errorCode:
          title: Error Code
          type: integer
          description: The numeric error code to pass back to the consumer.
        title:
          title: Error Title
          type: string
          description: The title of the error.
        message:
          title: Error Message
          type: string
          description: A detailed description of the error.
        errorDetailArray:
          title: Error Detail Array
          type: array
          description: An array containing any extra details of the error, for example field names.
          items:
            type: string
      example:
        errorCode: 400
        title: "Validation Error"
        message: "The request payload failed schema validation."
        errorDetailArray:
          - "criminalRecordCheckLevel is required."
          - "jobLocations must contain at least 1 item."
    SuccessResponseCampaign:
      title: Successful Integration Response
      type: object
      properties:
        message:
          title: Note
          type: string
          description: Status note regarding the request creation.
        consumerSystemCampaignId:
          title: Consumer System Unique Campaign ID
          type: string
          description: The unique system identifier of the campaign in the requestors system
          example: asd4-45sd-w4344-wer3
        pECSystemCampaignId:
          title: PEC System Unique Campaign ID
          type: string
          description: The unique system identifier of the campaign in the PEC system
          example: asd4-45sd-w4344-wer3
        businessCluster:
          title: Business Cluster
          type: string
          description: The name of the organizational cluster the request is coming from.
          example: Unity
        campaignPECStatus:
          title: Campaign Status in PEC system
          type: string
          description: The status of the campaign in the PEC system
          example: active
    SuccessResponseApplicants:
      title: Successful Integration Response
      type: object
      properties:
        message:
          title: Note
          type: string
          description: Status note regarding the request creation.
        consumerSystemCampaignId:
          title: Consumer System Unique Campaign ID
          type: string
          description: The unique system identifier of the campaign in the requestors system
          example: asd4-45sd-w4344-wer3
        pECSystemCampaignId:
          title: PEC System Unique Campaign ID
          type: string
          description: The unique system identifier of the campaign in the PEC system
          example: asd4-45sd-w4344-wer3
        businessCluster:
          title: Business Cluster
          type: string
          description: The name of the organizational cluster the request is coming from.
          example: Unity
        campaignPECStatus:
          title: Campaign Status in PEC system
          type: string
          description: The status of the campaign in the PEC system
          example: active
        workflowConfirmations:
          title: PEC Workflow Confirmations
          type: array
          description: The statuses and identifiers of the newly created PEC workflows.
          items:
            $ref: '#/components/schemas/WorkflowConfirmation'
    newCampaign:
      title: New Campaign Object
      type: object
      description: The object to be used to create a new campaign in the PEC system
      required:
        - campaignId
        - businessCluster
        - employingDepartment
        - consumerSystemCampaignId
        - title
        - crcLocations
        - requestOwners
      properties:
        consumerCampaignID:
          title: Consumer Campaign ID
          type: string
          description: The human readable unique identifier of the recruitment campaign.
          example: CMP12345
        businessCluster:
          title: Business Cluster
          type: string
          description: The name of the organizational cluster the request is coming from.
          enum:
            - Defense
            - Matrix
            - Non-Clusterd
            - Overseas
            - Synergy
            - Unity
        employingDepartment:
          title: Employing Department
          type: string
          description: The name of the department the position is with.
          example: HMRC
        consumerSystemCampaignId:
          title: Consumer System Unique Campaign ID
          type: string
          description: The unique system identifier of the campaign in the requestors system
          example: asd4-45sd-w4344-wer3
        title:
          title: Title
          type: string
          description: The title for the position associated with this campaign.
          example: "Senior Developer"
        crcLocations:
          title: CRC Locations
          type: array
          description: The list of locations for this role. For the purpose of criminal record checks.
          items:
            type: string
          example: ["England", "Scotland"]
        requestOwners:
          title: Case Managers
          type: array
          description: A list of business contacts responsible for managing these active checking cases.
          minItems: 1
          items:
            $ref: '#/components/schemas/requestOwner'
        specificCheckOverrides:
          title: Specific Check Overrides (Optional)
          type: array
          description: Optional. Specific check requirements to bypass general departmental policies if explicitly needed for this applicant.
          items:
            $ref: '#/components/schemas/CheckOverride'
    requestOwner:
      title: Request Owner
      type: object
      description: The contact details of a person managing these active checking cases.
      required:
        - name
        - email
      properties:
        name:
          title: Name
          type: string
          example: Jane Doe
        email:
          title: Email
          type: string
          format: email
          example: jane.doe@gov.uk
        phoneNumber:
          title: Phone Number
          type: string
          example: "+44 7700 900077"
    newApplicants:
      title: New Applicants Object
      description: A object housing new applicants to be added to an existing campaign in the PEC system. A new workflow will be generated for each applicant
      type: object
      required:
        - consumerSystemCampaignId
        - pECSystemCampaignId
        - applicants
      properties:
        consumerSystemCampaignId:
          title: Consumer System Unique Campaign ID
          type: string
          description: The unique system identifier of the campaign in the requestors system
          example: asd4-45sd-w4344-wer3
        pECSystemCampaignId:
          title: PEC System Unique Campaign ID
          type: string
          description: The unique system identifier of the campaign in the PEC system
          example: asd4-45sd-w4344-wer3
        applicants:
          title: Applicants
          type: array
          description: An array of applicants requiring pre-employment checks.
          items:
            $ref: '#/components/schemas/Applicant'
    Applicant:
      title: Applicant Object
      description: An object representing a single applicant to be processed by the PEC system
      type: object
      required:
        - firstName
        - lastName
        - email
        - consumerApplicantId
      properties:
        firstName:
          title: First Name
          type: string
          example: Robert
        lastName: 
          title: Last Name
          type: string
          example: Builder
        email:
          title: Email Address
          type: string
          format: email
          example: bob@builder.com
        telephoneNumber:
          title: Telephone Number
          type: string
          description: The applicant's contact telephone number.
          example: "+44 7700 900123"
        dateOfBirth:
          title: Date of Birth 
          type: string
          format: date
          example: 2017-07-21
        consumerApplicantId:
          title: Consumer Applicant ID
          type: string
          description: The unique ID assigned by the consuming source system to identify this applicant.
          example: APP-88291
    WorkflowConfirmation:
      title: Workflow Confirmation Response
      type: object
      properties:
        consumerApplicantId:
          title: Consumer Applicant ID
          type: string
          description: The unique ID assigned by the consuming source system.
          example: APP-88291
        pECApplicantId:
          title: Provider Applicant ID
          type: string
          description: The unique identifier generated by the service provider for this candidate.
          example: PEC-12345
        workflowStatus:
          title: Workflow Status
          type: string
          description: The current status of the created PEC workflow.
          example: Pending
    CheckOverride:
      title: Check Override
      type: object
      properties:
        checkType:
          title: Check Type
          type: string
          description: The explicit type of the check required.
          example: UKSV
        checkLevel:
          title: Check Level
          type: string
          description: Used to send a specific modifier or level for the check.
          example: DV
